.invalid-input {
    -fx-border-color: red;
}

.column-header {
    /*
    -fx-rotate: 90;
    -fx-pref-height: 100;

     */
}

.skipButton{
    -fx-pref-width: 40;
    -fx-max-width: 40;
    -fx-min-width: 40;
}